* {
    box-sizing:border-box;
}

:root{
    --color-1: #000;
    --color-2: #222629;
    --color-3: #474B4F;
    --color-4: #222629;
    --color-bg: #ffffff;
    --color-boxes-inactive: #5f5f5fb6;
    --color-boxes-active: #bae9c4;

    --color-text:rgb(100, 100, 100);
    --color-text-active : #110f0fb6;

    --transformprop-scale:0.8;
    --transformprop-perspective:300vh;
    --transformprop-rotateY:20deg;

    --transformprop-scale-hover:1;
    --transformprop-perspective-hover:0;
    --transformprop-rotateY-hover:0deg;
}

html,body{
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    overflow-x:hidden;
}

body{
    background: var(--color-bg);
    font-size:2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    margin: 2rem;
}
#section2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.container{
    display:flex;
    flex-direction: row;
    height:20%;
    width:100%;
    min-width:70%;
    justify-content: center;
    align-items: center;

}

h1 {
    text-align:left;

}

button {
    display:block;
    margin-bottom:20px;
    min-width:10%;
    cursor:pointer;
    border:0px;
    width:19%;
    height:15vh;
    margin-inline:auto;
    font-size:0.9em;
    transition:1s;
    color:var(--color-text);
    transform: scale(var(--transformprop-scale));
}

button:hover,
button:focus{
    background:var(--color-boxes-active);
    opacity:1;
    z-index:2;
    border:1px solid rgb(71, 134, 71);
    color:var(--color-text-active);
    transform: scale(var(--transformprop-scale-hover));
}

@media (orientation:portrait){
    button {
        font-size: 2vw;
    }
}

.resultcontainer{
    margin-inline:auto;
    margin:0 6rem;
}

.CookieRenew{
    width:75%;
}